{% extends 'base.html' %}
{% load static %}
{% load cms_tags %}
{% load widget_tweaks %}

{% block title %} {{ title }} · {{ block.super }} {% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'antenne:home' %}">Tableau de bord</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'accounts:monprofil' %}">Mon compte</a></li>
    <li class="breadcrumb-item active" aria-current="page">Changer mon mot de passe</li>
  </ol>
</nav>


 {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center style="color:green"><h4  {% if message.tags %} class=" {{ message.tags }} " style="color:green" {% endif %}> {{ message }} </h4></center>
            {% endfor %}
        </ul>
{% endif %}

<br>
<br>
    <form method="post">
      {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          <div class="row">

                {% for field in form.visible_fields %}
                    <div class="col col-md-8">
                        {{ field.label_tag }}{{ field.errors }}
                        {% render_field field %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>

                {% endfor %}
              <div class="col col-md-8"><br>
                &nbsp;&nbsp;<button type="submit" class="btn btn-info"style="background:#044472">Modifier</button>
              </div>

          </div>
        </form>


{% endblock %}